<h1>Evaluate Defects</h1>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Description</th>
        <th>Version</th>
        <th>Tester Email</th>
        <th>Action</th>
    </tr>
    {% for defect in defects %}
    <tr>
        <td>{{ defect.id }}</td>
        <td>{{ defect.title }}</td>
        <td>{{ defect.description }}</td>
        <td>{{ defect.version }}</td>
        <td>{{ defect.tester_email }}</td>
        <td>
            <a href="{% url 'owner_defect_evaluate' defect.id %}">
                <button>Select</button>
            </a>
        </td>
    </tr>
    {% endfor %}
</table>